.buttondeck
{
    height:20px !important;
    width:40px !important;
    margin-left:30px !important;
}
.buttonsize
{
    margin-left:30px !important;
    height:71px !important;
    width:222px !important;

}
.grid_back
{
    background-color: #303f9f;
}